.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: url('https://source.unsplash.com/random/1920x1080/?sky') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
